ion-header{
    background-image: linear-gradient( 90deg,#630b57  ,#51d1f6  ,#630b57  );
    align-items: center;
}
.pag{text-align: center;}


ion-text{
    padding-left: 15%;}

.menu{
padding-left: 100px;
width: 40%;
}