<ion-app>
 
  <ion-header>
    <ion-toolbar>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

  <ion-card>
    <ion-item>
      <ion-input name="nombre" label="nombre" [(ngModel)]="datos.nombre" placeholder="Ingresa tu nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="correo" label="correo" [(ngModel)]="datos.correo" placeholder="correo " type="text"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input name="contraseña" label="contraseña" [(ngModel)]="datos.password" placeholder="Ingresa tu contraseña" type="password"></ion-input>
    </ion-item>
    <ion-button (click)="Registrar()">
      registarse
      </ion-button>
  </ion-card>

    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-title>Footer</ion-title>
      </ion-toolbar>
    </ion-footer>
  
</ion-app>
