<ion-content>
  <div class="card">

    <h1 id="login">AstralSteps</h1>
  </div>

  <div class="middle">
    <form [formGroup]="formulario" (ngSubmit)="submit()">
      <div class="box">
        <p>Porfavor ingrese sus datos</p>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="person-circle-outline"></ion-icon>
        </ion-item>
        <div class="validators" *ngIf="formulario.controls.email.errors && formulario.controls.email.touched">
          <div *ngIf="formulario.controls.email.errors?.['required']">El correo es requerido</div>
          <div *ngIf="formulario.controls.email.errors?.['email']">Ingrese un correo valido</div>
        </div>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="eye-outline"></ion-icon>
        </ion-item>
        <div class="validators" *ngIf="formulario.controls.password.errors && formulario.controls.password.touched">
          <div *ngIf="formulario.controls.password.errors?.['required']">La Contraseña es requerida</div>
        </div>
        <ion-item>
          <ion-button class="boton-login " color="dark" expand="block" (click)="submit()">Ingresar</ion-button>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-center">
            ¿Ya tienes una cuenta? <ion-button [routerLink]="['/login1']" color="dark">Inicia Sesión</ion-button>
          </ion-label>
          <ion-label class="ion-text-center">
            ¿Olvido su contraseña? <ion-button [routerLink]="['/recuperar-contra']" color="dark">Recuperar</ion-button>
          </ion-label>
        </ion-item>
      </div>
    </form>
  </div>